%table.table.table-striped
  %thead
    %tr
      %th Short link
      %th Full link
      %th Details
  %tbody
    - links.each do |link|
      %tr
        %td
          %a{:href => "#{base}/#{link[:hash]}"}="#{base}/#{link[:hash]}"
        %td
          %a{:href => link[:url]}=link[:url]
        %td
          %a{:href => "/v/#{link[:hash]}"} ->
