%form
  .input-group
    %span.input-group-addon Filtrer
    %input#filter.form-control{:type => "text", :placeholder => "url à filtrer"}

%table#linklist.table.table-striped
  %thead
    %tr
      %th Short link
      %th Full link
      %th Hits
      %th Details
  %tbody
    - links.each do |link|
      %tr
        %td
          %a{:href => "#{base}/#{link[:hash]}"}="#{base}/#{link[:hash]}"
        %td
          %a{:href => link[:url]}=link[:url]
        %td
          %code=link[:hits]
        %td
          %a{:href => "/v/#{link[:hash]}"} ->
